.tout{
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(143, 1, 1));
}
.nav{
    background-image: linear-gradient(to bottom right, rgb(92, 79, 79), rgb(204, 26, 26));
    text-shadow: 2px 1px 2px rgba(255, 14, 14, 0.911);
    font-family: 'Jolly Lodger', cursive;
    font-size:30px;
}
.list{
    font-family: 'Jolly Lodger', cursive;
    font-size:30px;
    text-align: center;
    text-shadow: 2px 1px 2px rgba(255, 14, 14, 0.911);
    background-image: linear-gradient(to bottom right, rgb(87, 28, 28), rgb(235, 57, 57));
}